@import './turf-timer//TurfTimer';
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Exo+2:wght@300;400;700&display=swap');

.nitro-middle {
    position: absolute;
}

.middle-bar {
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    height: 60px;
    width: calc(100% - 40px);
}

  .top-bar {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 12px 20px;
        max-width: 1024px;
        width: 100%;
    }

        .location-info {
            font-family: 'Audiowide', cursive;
            font-size: 18px;
            text-shadow: 0 0 10px var(--primary-color);
        }

        .player-info {
            display: flex;
            align-items: center;
        }

.avatar {
    width: 50px; /* Size of the avatar */
    height: 50px; /* Size of the avatar */
    border-radius: 50%; /* Makes the avatar circular */
    margin-right: 15px;
    border: 2px solid var(--primary-color); /* Adds a border around the avatar */
    box-shadow: 0 0 15px var(--primary-color); /* Adds a shadow */
    overflow: hidden; /* Ensures the image stays within the circular frame */
    display: inline-block; /* Keeps the div inline for proper layout */
}

.avatar-image {
    width: 100%; /* Image fills the entire avatar */
    height: 100%; /* Image fills the entire avatar */
    background-size: cover; /* Ensures the image covers the entire area without distortion */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}


        .level-badge {
            background: red;
            color: var(--bg-color);
            padding: 5px 10px;
            border-radius: 15px;
            font-weight: bold;
            margin-right: 10px;
        }
