.imessage {
  border-radius: 0.25rem;
  display: flex;
  flex: 1;
  flex-direction: column;
  font-family: "SanFrancisco";
  font-size: 1.25rem;
  margin: 0 auto 1rem;
  padding: 0.5rem 1.5rem;
  width: 100%;
}

.imessage p {
  border-radius: 1.15rem;
  line-height: 1;
  width: 100%;
  max-height:  75px;
  overflow-y: auto;
  padding: 0.5rem .875rem;
  position: relative;
  word-wrap: break-word;
}

p.from-me {
  align-self: flex-end;
  background-color: #248bf5;
  color: #fff; 
}

p.from-them {
  align-items: flex-start;
  background-color: #e5e5ea;
  color: #000;
}

p.from-them:before {
  border-bottom-right-radius: 0.8rem 0.7rem;
  border-left: 1rem solid #e5e5ea;
  left: -0.35rem;
  transform: translate(0, -0.1rem);
}

p.from-them::after {
  background-color: #fff;
  border-bottom-right-radius: 0.5rem;
  left: 20px;
  transform: translate(-30px, -2px);
  width: 10px;
}

.margin-b_none {
  margin-bottom: 0 !important;
}

.margin-b_one {
  margin-bottom: 1rem !important;
}

.margin-t_one {
  margin-top: 1rem !important;
}

.message-wrapper {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.message-wrapper.from-me {
  justify-content: flex-end;
}

.message-wrapper.from-them {
  justify-content: flex-start;
}

.user-photo {
  border-radius: 50%;
  height: 40px;
  margin-right: 0.5rem;
  width: 40px;
}

/* general styling */
@font-face {
  font-family: "SanFrancisco";
  src:
    url("https://cdn.rawgit.com/AllThingsSmitty/fonts/25983b71/SanFrancisco/sanfranciscodisplay-regular-webfont.woff2") format("woff2"),
    url("https://cdn.rawgit.com/AllThingsSmitty/fonts/25983b71/SanFrancisco/sanfranciscodisplay-regular-webfont.woff") format("woff");
}

@media screen and (max-width: 800px) {
  .imessage {
    font-size: 1.05rem;
    margin: 0 auto 1rem;
    max-width: 600px;
    padding: 0.25rem 0.875rem;
  }

  .imessage p {
    margin: 0.5rem 0;
  }
}
