@import './player-stats/PlayerStats';
@import './hotbar/HotBarView';

.nitro-chatbar {
    position: absolute;
    bottom: 2%;
    left: 0;
    width: 100%;
    height: $toolbar-height;
    z-index: $toolbar-zindex;
    
    #toolbar-chat-input-container {
        width: 600px;
        @include media-breakpoint-down(sm) {
            width: 0px;
            height: 0px;
        }
    }
}

