        .cash-balance {
            padding: 10px 20px;
            font-size: 28px;
            font-weight: bold;
            text-shadow: 0 0 15px #00f7ff;
            width: fit-content;
        }