.nitro-equipped-weapon {
    position: absolute;
    bottom: 18px;
    right:  245px;
    width: 400px;
    height: fit-content;
    padding: 14px;
}
.weapon-hud {
    display: flex;
    padding: 10px;
    pointer-events: all;
    cursor: pointer;
}

.weapon-info {
    display: flex;
    align-items: center;
}

.weapon-icon {
    height: 40px;
    width: 75;
    margin-right: 10px;
    object-fit: contain; 
    background-color: #1a1a1a; 
    padding: 5px;
    border-radius: 5px; 
}

.weapon-name {
    display: inline;
    color: #b3bdb6;
    font-size: 14px;
    margin-left: 10px;
}

.ammo-info {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.current-ammo {
    color: white;
    font-size: 24px;
    margin-right: 10px;
}

.reserve-ammo {
    color: #4b9bff;
    font-size: 14px;
}
