 .quick-menu {
        pointer-events: all;
            position: absolute;
            left: 20px;
            top: 150px;
            display: flex;
            flex-direction: column;
            gap: 15px;
        }

        .menu-button {
            cursor: pointer;
            width: 60px;
            height: 60px;
            font-size: 28px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.015s ease;
            color: #00f7ff;
            position: relative;
            overflow: hidden;

            &:hover {
                color: rgb(61, 100, 183) !important;
            }
        }

        .menu-button::after {
            content: '';
            position: absolute;
            top: -50%;
            left: -50%;
            width: 200%;
            height: 200%;
            background: radial-gradient(circle, #00f7ff 10%, transparent 10%);
            opacity: 0;
            transition: opacity 0.015s ease;
        }

        .menu-button:hover::after {
            opacity: 1;
            animation: ripple 1s linear infinite;
        }

        @keyframes ripple {
            to { transform: scale(3); opacity: 0; }
        }

        .menu-button:hover {
            transform: scale(1.2);
            box-shadow: 0 0 20px #00f7ff;
        }
