@import './cash-balance/CashBalance';
@import './weapon-wheel/WeaponWheel';
@import './equipped-weapon/EquippedWeapon';

.nitro-right-side {
    position: absolute;
    top: 50px;
    right: 100px;
    height: calc(100% - #{$toolbar-height});
    z-index: $rightside-zindex;
    pointer-events: none;
    display: flex;
    flex: 1;
    pointer-events: all;
    width: 200px;
}
