@import './game-tools/GameTools';
@import './speech-wheel/SpeechWheel';
@import './roleplay-stats/progress-bar/ProgressBar';
@import './roleplay-stats/roleplay-stats-container/RoleplayStatsContainer';

.nitro-left-side {
    pointer-events: all;
    position: absolute;
    top:50px;
    left: 0px;
    min-width: 200px;
    max-width: 200px;
    height: calc(100% - #{$toolbar-height} - 45px);
    z-index: $leftside-zindex;
    pointer-events: none;
}
